/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

input,
button{
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0 0 20px;
  display: block;
  text-transform: uppercase;
}

#header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

#header .header-image {
  width: 100%;
}

.header-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  #header {
    text-align: center;
  }

}

#main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding-left: 10px;
  padding-right: 0;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.new-task-wrapper {
  display: flex;
}

#new-task-input {
  width: 56%;
  display: inline-block;
  width: 318px;
  flex-grow: 1;
}

#new-task-button-add:hover {
  color: #0fc57c;
}

/* Task list */
#tasks-todo li > *,
#tasks-completed li > * {
  vertical-align: middle;
}

.input-checkbox {
  margin: 0 10px;
}

#tasks-todo li > label,
#tasks-completed li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.button-remove:hover {
  color: #cf2323;
}

.button-remove img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-remove img:hover {
  transform: rotateZ(0);
}

/* Completed */
#tasks-completed label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input-text {
  display: none;
}

.task-edit .input-text {
  display: inline-block;
}

.task-edit label {
  display: none;
}